html,
body {
  background-color: #320d3e;
  padding: 0;
  margin: 0;
  color: #ffd79d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PoiretOne-Regular";
  src: url("/fonts/PoiretOne/PoiretOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}